.flex_container {
    display: flex;
    height: 100%;
    width: 100%;
}
h1 {
    background-color: black;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 20%;
    text-align: center;
    margin: 5px;
}
.one {
    background-color: purple;
    color: white;
    height: 600px;
    width: 300px;
    margin: 5px;
    padding: 10px 10px 10px 10px;
}
.two {
    flex: 1;
    background-color: grey;
    text-align: left;
    height: 600px;
    margin: 5px;
    padding: 10px 10px 10px 10px;
}
footer {
    background-color: yellow;
    color: black;
    font-size: 20px;
    width: 100%;
    height: 20%;
    bottom: 0;
    text-align: center;
    margin: 5px;
}