<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pokemon Lottery</title>
    ${includes}
</head>
<body>
    <header>
        ${navbar}
    </header>
    <h1>Welcome to the Random Pokemon Info Page</h1>
    <h2>Today's Pokemon is: </h2>
    <div class="info">
        NAME: ${name}<br>
        NATIONAL NUMBER: ${nat_number}<br>
        TYPE: ${type}<br>
        HEIGHT: ${height}<br>
        WEIGHT: ${weight}<br>
        TOTAL: ${total}<br>
        HP: ${hp}<br>
        ATTACK: ${attack}<br>
        DEFENSE: ${defense}<br>
        SPECIAL ATTACK: ${special_att}<br>
        SPECIAL DEFENSE: ${special_def}<br>
        SPEED: ${speed}<br>
        BASE EXPERIENCE: ${base_exp}<br>
        EVOLVES FROM: ${evolves_from}<br>
    </div>
    <!-- <input type=submit formmethod="" value="New Pokemon"> -->
</body>
</html>